@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 1rem;

  @media screen and (max-width: 600px) {
    font-size: 0.75rem;
  }
}

.container-lg {
  width: calc(100% - 3rem);
  max-width: 1500px;
}

.container-md {
  width: calc(100% - 3rem);
  max-width: 1200px;
}

.container-sm {
  width: calc(100% - 3rem);
  max-width: 900px;
}

.copy {
  color: #374151;
  line-height: 1.75;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-blue;
  }

  .wp-block-columns {
    @apply flex gap-4;
  }

  .wp-block-column {
    flex: 1;

    > * {
      @apply block;
    }

    > *:not(:last-child) {
      @apply mb-4;
    }
  }

  .wp-block-gallery {
    @apply grid gap-6;

    &.columns-2 {
      @apply grid-cols-2;
    }

    &.columns-3 {
      @apply grid-cols-3;
    }

    &.columns-4 {
      @apply grid-cols-4;
    }

    .wp-block-image {
      @apply relative overflow-hidden cursor-pointer;
      margin: 0;

      figcaption {
        @apply absolute bottom-0 left-0 w-full bg-slate-500 text-white bg-opacity-75 px-4 py-3 translate-y-[100%];
        transition: all 200ms ease-in-out;
      }

      img {
        transition: all 200ms ease-in-out;
      }

      &:hover {
        img {
          scale: 1.1;
        }

        figcaption {
          @apply translate-y-[none];
        }
      }
    }
  }
}
