.Wrapper {
  @apply bg-white;
}

.Inner {
  @apply container mx-auto flex justify-between;
}

.Logo {
  @apply py-2 h-20;
}

.Menu {
  @apply flex items-center;
  z-index: 2;

  > ul {
    @apply h-full flex;
  }

  &__Item {
    @apply h-full;

    > a {
      @apply relative flex justify-center items-center h-full p-4 text-slate-300 font-bold uppercase font-roboto overflow-hidden;

      &:before {
        @apply block w-full bg-slate-300 h-1 absolute top-0 left-0;
        content: "";
        transform: translateX(-101%);
      }

      &:hover {
        @apply bg-slate text-white;

        &:before {
          transform: translateX(0);
        }
      }
    }

    > ul {
      @apply bg-white rounded min-w-[150px] absolute hidden shadow-md;
    }

    &:hover {
      > ul {
        @apply block;
      }
    }
  }

  &__SubItem {
    > a {
      @apply block px-6 py-3;

      &:hover {
        @apply text-blue bg-grey-100 rounded;
      }
    }

    > ul {
      @apply bg-white rounded min-w-[150px] absolute top-0 left-[100%] hidden;
    }

    &:hover {
      > ul {
        @apply block;
      }
    }
  }
}
